<div class="organizers">
  <h2>Organizers</h2>
  <table>
  <tr>
    <td class="name"><a href="https://www.cs.cmu.edu/~dkaushik/">Divyansh Kaushik</a></td>
    <td class="organization">Carnegie Mellon University</td>
  </tr>
  <tr>
    <td class="name"><a href="https://bhargaviparanjape.github.io/">Bhargavi Paranjape</a></td>
    <td class="organization">University of Washington / Facebook AI Research</td>
  </tr>
  <tr>
    <td class="name"><a href="https://www.maxbartolo.com/">Max Bartolo</a></td>
    <td class="organization">University College London</td>
  </tr>
  <tr>
    <td class="name"><a href="https://easonnie.github.io/">Yixin Nie</a></td>
    <td class="organization">University of North Carolina Chapel-Hill</td>
  </tr>
  <tr>
    <td class="name"><a href="https://yanaiela.github.io/">Yanai Elazar</a></td>
    <td class="organization">Bar-Ilan University / Allen Institute for Artificial Intelligence</td>
  </tr>
  <tr>
    <td class="name"><a href="https://polkirichenko.github.io/">Polina Kirichenko</a></td>
    <td class="organization">New York University</td>
  </tr>
  <tr>
    <td class="name"><a href="https://forougha.github.io/">Forough Arabshahi</a></td>
    <td class="organization">Facebook AI Research</td>
  </tr>
  <tr>
    <td class="name"><a href="https://pontus.stenetorp.se/">Pontus Stenetorp</a></td>
    <td class="organization">University College London</td>
  </tr>
  <tr>
    <td class="name"><a href="https://www.cs.unc.edu/~mbansal/">Mohit Bansal</a></td>
    <td class="organization">University of North Carolina Chapel-Hill</td>
  </tr>
  <tr>
    <td class="name"><a href="http://zacklipton.com/">Zachary C. Lipton</a></td>
    <td class="organization">Carnegie Mellon University</td>
  </tr>
  <tr>
    <td class="name"><a href="https://douwekiela.github.io/">Douwe Kiela</a></td>
    <td class="organization">Facebook AI Research</td>
  </tr>
  </table>
</div>
